body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-title {
    font-size: 32px;
    color: black;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 100%;
    
}



.container {
    width: 40%;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 60px;
    transition: transform 0.3s ease-in-out;
}

.container:hover {
    transform: scale(1.02);
}

h1 {
    font-size: 28px;
    color: black;
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    border: 2px solid #4facfe;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

input[type="file"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover {
    background: #e3f2fd;
}


#image-preview {
    width: 250px;
    height: 250px;
    border: 4px solid black;
    border-radius: 8px;
    margin: 20px auto;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    background: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #218838;
}


.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-btn {
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.logout-btn:hover {
    background: green;
}
a {
    text-decoration: none;
    color: #4facfe;
    font-weight: bold;
}

a:hover {
    color: #0077cc;
}


.form-container {
    width: 100%;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container input {
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #4facfe;
}

.form-container button {
    width: 85%;
}

.flash-messages {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
}


